@mixin reset(){
    body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{
        margin: 0;
        padding: 0;
    }
    a, b, body, button, dd, div, dl, dt, em, form, h1, h2, h3, h4, header, input, li, p, span, textarea, ul {
        margin: 0;
        padding: 0;
        border: 0;
        // font-size: 100%;
        vertical-align: baseline;
    }
    body {
        font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #333;
    }    
    h1, h2, h3, h4, h5, h6, em, i{
        font-weight: normal;
        font-style: normal;
    }
    table{
        border-collapse: collapse;
        border-spacing: 0;
    }
    fieldset,img,abbr{
        border: 0;
    }
    address,caption,cite,code,dfn,em,strong,th,var{
        font-style: normal;
        font-weight: normal;
    }
    ul, ol, li{
        list-style: none;
    }
    caption,th{
        text-align: left;
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 100%;
        font-weight: normal;
    }
    sup{
        vertical-align: text-top;
    }
    sub{
        vertical-align: text-bottom;
    }
    input,textarea,select{
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
    legend{
        color: #000;
    }
    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{
        display: block;
    }
    img{
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }

    input, textarea, button, select {
        outline: none;
        font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #333;
    }
    
    input::-ms-clear, input::-ms-reveal { 
        display: none;
    }
    
    input::-moz-placeholder, textarea::-moz-placeholder { 
        color: #999;
        opacity: 1;
    }
    
    input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
        color: #999;
    }
    
    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: #999;
    }
    
    button{
        cursor: pointer;
    }
    textarea{
        resize: none;
        overflow: auto;
    }
    a {
        text-decoration: none;
    }
    
    a:focus {
        outline: none;
    }

  
    
}
@include reset();